body{
    text-align: center;
    background-color: bisque;
}
.btn-container{
    display:flex;
    justify-content: center;
    background-color: aqua;
    border: 2px solid black;
    
}



.btn{
    height: 200px;
    width: 200px;
    border : 10px solid black;
    border-radius: 20%;
    margin: 2.8rem 1.5rem;
}


.one{
    background-color:#d95980;
}

.two{
    background-color:#f99b45 ;
}

.three{
    background-color: #63aac0;
}

.four{
    background-color:#819ff9;
}

.flash{
    background-color: white;
}